{% extends "public/base.html" %}

{% block content %}
  <div class="container">
    <section id="dg-container" class="dg-container">
      <div class="dg-wrapper"> <a href="#"><img src="/static/index/images/1.jpg" alt="image1" /></a> <a href="#"><img src="/static/index/images/2.jpg" alt="image2" /></a> <a href="#"><img src="/static/index/images/3.jpg" alt="image3" /></a> <a href="#"><img src="/static/index/images/4.jpg" alt="image4" /></a> <a href="#"><img src="/static/index/images/5.jpg" alt="image5" /></a> <a href="#"><img src="/static/index/images/6.jpg" alt="image1" /></a> <a href="#"><img src="/static/index/images/7.jpg" alt="image2" /></a> <a href="#"><img src="/static/index/images/8.jpg" alt="image3" /></a> </div>
    </section>
  </div>
  <div class="main">
    <div class="section group">
      <div class="grid_1_of_4 images_1_of_4"> <a href="/detail/index"><img src="/static/index/images/pic1.jpg"></a> <a href="/detail/index">
        <h3>Lorem Ipsum is</h3>
        </a> </div>
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic3.jpg"></a> <a href="details.html">
        <h3>Lorem is simply </h3>
        </a> </div>
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic2.jpg"></a> <a href="details.html">
        <h3>Lorem Ipsum is</h3>
        </a> </div>
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic4.jpg"></a> <a href="details.html">
        <h3>Lorem is simply </h3>
        </a> </div>
      <div class="clear"></div>
    </div>
    <div class="section group btm">
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic5.jpg"></a> <a href="details.html">
        <h3>Lorem Ipsum is</h3>
        </a> </div>
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic6.jpg"></a> <a href="details.html">
        <h3>Lorem is simply </h3>
        </a> </div>
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic7.jpg"></a> <a href="details.html">
        <h3>Lorem Ipsum is</h3>
        </a> </div>
      <div class="grid_1_of_4 images_1_of_4"> <a href="details.html"><img src="/static/index/images/pic8.jpg"></a> <a href="details.html">
        <h3>Lorem is simply </h3>
        </a> </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}

