{% extends "public/base.html" %}

{% block content %}
  <div class="main">
    <div class="main1">
      <form class="form-4" method="post" action="/login/check">
        {% if data == 'admin' %}
        <h1>Login or Register</h1>
        <p>
          <label for="login">Username or email</label>
          <input type="text" name="username" placeholder="Username or email" required autofocus>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name='password' placeholder="Password" required>
        </p>
        <p>
          <input type="submit" name="submit" value="Log in">
        </p>
        {% else %}
        <h1>dsjflksdjgaoweirgjsdfjkl or Register</h1>
        <p>
          <label for="login">Username or email</label>
          <input type="text" name="username" placeholder="Username or email" required autofocus>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name='password' placeholder="Password" required>
        </p>
        <p>
          <input type="submit" name="submit" value="Log in">
        </p>
        {% endif %}
      </form>
​​       </div>
  </div>
{% endblock %}